# Created by https://www.gitignore.io/api/lua,c++,cmake,ninja
# Edit at https://www.gitignore.io/?templates=lua,c++,cmake,ninja

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
# External projects
*-prefix/

### Lua ###
# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.os
*.ko
*.elf

# Precompiled Headers

# Libraries
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.so.*

# Executables
*.i*86
*.x86_64
*.hex


### Ninja ###
.ninja_deps
.ninja_log


### VSCode ###
.vscode/launch.json
build/
build-*/
out/

### Visual Studio 2019 ###
.vs/
CMakeSettings.json

# End of https://www.gitignore.io/api/lua,c++,cmake,ninja

