[submodule "src/3rdparty/entt"]
	path = src/3rdparty/entt
	url = https://github.com/skypjack/entt
[submodule "src/3rdparty/fmt"]
	path = src/3rdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "src/3rdparty/luabridge"]
	path = src/3rdparty/luabridge
	url = https://github.com/vinniefalco/LuaBridge
[submodule "src/3rdparty/luajit-2.0"]
	path = src/3rdparty/luajit-2.0
	url = https://luajit.org/git/luajit-2.0.git
[submodule "src/3rdparty/LuaJIT"]
	path = src/3rdparty/LuaJIT
	url = https://luajit.org/git/luajit-2.0.git
[submodule "src/3rdparty/lua"]
	path = src/3rdparty/lua
	url = https://github.com/lua/lua
[submodule "glm"]
	path = src/3rdparty/glm
	url = https://github.com/g-truc/glm
[submodule "src/3rdparty/openal-soft"]
	path = src/3rdparty/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "src/3rdparty/flac"]
	path = src/3rdparty/flac
	url = https://github.com/xiph/flac
[submodule "src/3rdparty/polyvox"]
	path = src/3rdparty/polyvox
	url = https://bitbucket.org/volumesoffun/polyvox.git

[submodule "src/3rdparty/tinygltf"]
	path = src/3rdparty/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "src/3rdparty/glfw"]
	path = src/3rdparty/glfw
	url = https://github.com/glfw/glfw
