[submodule "src/3rdparty/entt"]
	path = src/3rdparty/entt
	url = https://github.com/skypjack/entt

[submodule "src/3rdparty/raylib"]
	path = src/3rdparty/raylib
	url = https://github.com/raysan5/raylib
[submodule "src/3rdparty/fmt"]
	path = src/3rdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "glm"]
	path = src/3rdparty/glm
	url = https://github.com/g-truc/glm
[submodule "src/3rdparty/openal-soft"]
	path = src/3rdparty/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "src/3rdparty/tinywav"]
	path = src/3rdparty/tinywav
	url = https://github.com/mhroth/tinywav
[submodule "src/3rdparty/flac"]
	path = src/3rdparty/flac
	url = https://github.com/xiph/flac
